<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Krace Gennedy</title>
    <!-- Bootstrap core CSS-->
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/dataTables.bootstrap4.css")
    @Styles.Render("~/Content/sb-admin.min.css")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")

    
    

    <title>@ViewBag.Title</title>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">Krace Gennedy</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="@Url.Action("Employees", "Dashboard")">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Employees</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="@Url.Action("Index", "Roles")">
                        <i class="fa fa-fw fa-user-circle-o"></i>
                        <span class="nav-link-text">Employee Roles</span>
                    </a>
                </li>


            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    @Html.ActionLink("Dashboard", "Index", "Dashboard")
                </li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
            </ol>
            <div class="row">
                <div class="col-12">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                   
                        @Html.ActionLink("Logout", "Index", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>


    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/Scripts/jquery.easing.1.3.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/dataTables.bootstrap4.js")
    @Scripts.Render("~/Scripts/sb-admin.min.js")
    @Scripts.Render("~/Scripts/sb-admin-datatables.min.js")



    @RenderSection("scripts", required: false)
</body>
</html>


